<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>Input Codes for Country and Weightclass</h1>
    <div class="row">
        <div class="column">
          <img src="static/assets/img/Weightclasses.png" alt="Weight Class Code" style="width:25%">
        </div>
        <div class="column">
          <img src="static/assets/img/Countries.png" alt="Country Codes" style="width:25%">
        </div>
      </div>

 
</body>
</html>